### 1. Carga de datos ###

In [141]:
import pandas as pd
from pathlib import Path
df = pd.read_csv('../data/raw/Student_performance_data.csv')

### 2. Limpieza de datos ###

Como se mencionó el el notebook de análisis exploratorio, la calidad de este dataset es buena ya que no posee datos nulos ni duplicados

### 3. Generación y modificación de datos

Comenzamos modificando el tipo de dato de las variables categoricas y cambiando sus valores por unos más descriptivos con la finalidad de que el análisis y los gráficos sean mas faciles de entender

Genero

In [142]:
df = df.astype({"Gender": str})
df.loc[df["Gender"] == "0", "Gender"] = "Male"
df.loc[df["Gender"] == "1", "Gender"] = "Female"

Ethnicity

In [143]:
df = df.astype({"Ethnicity": str})
df.loc[df["Ethnicity"] == "0", "Ethnicity"] = "Caucasian"
df.loc[df["Ethnicity"] == "1", "Ethnicity"] = "African American"
df.loc[df["Ethnicity"] == "2", "Ethnicity"] = "Asian"
df.loc[df["Ethnicity"] == "3", "Ethnicity"] = "Other"

ParentalEducation

In [144]:
df = df.astype({"ParentalEducation": str})
df.loc[df["ParentalEducation"] == "0", "ParentalEducation"] = "None"
df.loc[df["ParentalEducation"] == "1", "ParentalEducation"] = "High School"
df.loc[df["ParentalEducation"] == "2", "ParentalEducation"] = "Some College"
df.loc[df["ParentalEducation"] == "3", "ParentalEducation"] = "Bachelor's"
df.loc[df["ParentalEducation"] == "4", "ParentalEducation"] = "Higher"

Tutoring

In [145]:
df = df.astype({"Tutoring": str})
df.loc[df["Tutoring"] == "0", "Tutoring"] = "No"
df.loc[df["Tutoring"] == "1", "Tutoring"] = "Yes"

ParentalSupport

In [146]:
df = df.astype({"ParentalSupport": str})
df.loc[df["ParentalSupport"] == "0", "ParentalSupport"] = "None"
df.loc[df["ParentalSupport"] == "1", "ParentalSupport"] = "Low"
df.loc[df["ParentalSupport"] == "2", "ParentalSupport"] = "Moderate"
df.loc[df["ParentalSupport"] == "3", "ParentalSupport"] = "High"
df.loc[df["ParentalSupport"] == "4", "ParentalSupport"] = "Very High"

Extracurricular

In [147]:
df = df.astype({"Extracurricular": str})
df.loc[df["Extracurricular"] == "0", "Extracurricular"] = "No"
df.loc[df["Extracurricular"] == "1", "Extracurricular"] = "Yes"

Sports

In [148]:
df = df.astype({"Sports": str})
df.loc[df["Sports"] == "0", "Sports"] = "No"
df.loc[df["Sports"] == "1", "Sports"] = "Yes"

Music

In [149]:
df = df.astype({"Music": str})
df.loc[df["Music"] == "0", "Music"] = "No"
df.loc[df["Music"] == "1", "Music"] = "Yes"

Volunteering

In [150]:
df = df.astype({"Volunteering": str})
df.loc[df["Volunteering"] == "0", "Volunteering"] = "No"
df.loc[df["Volunteering"] == "1", "Volunteering"] = "Yes"

GradeClass

In [151]:
df = df.astype({"GradeClass": str})
df.loc[df["GradeClass"] == "0.0", "GradeClass"] = "A"
df.loc[df["GradeClass"] == "1.0", "GradeClass"] = "B"
df.loc[df["GradeClass"] == "2.0", "GradeClass"] = "C"
df.loc[df["GradeClass"] == "3.0", "GradeClass"] = "D"
df.loc[df["GradeClass"] == "4.0", "GradeClass"] = "F"

In [152]:
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,Female,Caucasian,Some College,19.833723,7,Yes,Moderate,No,No,Yes,No,2.929196,C
1,1002,18,Male,Caucasian,High School,15.408756,0,No,Low,No,No,No,No,3.042915,B
2,1003,15,Male,Asian,Bachelor's,4.210570,26,No,Moderate,No,No,No,No,0.112602,F
3,1004,17,Female,Caucasian,Bachelor's,10.028829,14,No,High,Yes,No,No,No,2.054218,D
4,1005,17,Female,Caucasian,Some College,4.672495,17,Yes,High,No,No,No,No,1.288061,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,Female,Caucasian,Bachelor's,10.680555,2,No,Very High,Yes,No,No,No,3.455509,A
2388,3389,17,Male,Caucasian,High School,7.583217,4,Yes,Very High,No,Yes,No,No,3.279150,F
2389,3390,16,Female,Caucasian,Some College,6.805500,20,No,Moderate,No,No,No,Yes,1.142333,C
2390,3391,16,Female,African American,None,12.416653,17,No,Moderate,No,Yes,Yes,No,1.803297,B
2391,3392,16,Female,Caucasian,Some College,17.819907,13,No,Moderate,No,No,No,Yes,2.140014,B

Eliminamos la columna StudentID ya que no nos aporta valor

In [153]:
df.drop('StudentID', axis=1, inplace=True)

### 4. Revisión del dataset resultante

Revisamos que los tipos de datos han cambiado

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                2392 non-null   int64
 1   Gender             2392 non-null   object
 2   Ethnicity          2392 non-null   object
 3   ParentalEducation  2392 non-null   object
 4   StudyTimeWeekly    2392 non-null   float64
 5   Absences           2392 non-null   int64
 6   Tutoring           2392 non-null   object
 7   ParentalSupport    2392 non-null   object
 8   Extracurricular    2392 non-null   object
 9   Sports             2392 non-null   object
 10  Music              2392 non-null   object
 11  Volunteering       2392 non-null   object
 12  GPA                2392 non-null   float64
 13  GradeClass         2392 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 261.8+ KB

Revisamos la información estadistica, como se puede apreciar ahora no se muestra datos estadisticos de campos como la etnica que corresponde a una variable categorica y estaba siendo tratada como número

In [155]:
df.describe()

               Age  StudyTimeWeekly     Absences          GPA
count  2392.000000      2392.000000  2392.000000  2392.000000
mean     16.468645         9.771992    14.541388     1.906186
std       1.123798         5.652774     8.467417     0.915156
min      15.000000         0.001057     0.000000     0.000000
25%      15.000000         5.043079     7.000000     1.174803
50%      16.000000         9.705363    15.000000     1.893393
75%      17.000000        14.408410    22.000000     2.622216
max      18.000000        19.978094    29.000000     4.000000

### 5. Se guarda el dataset modificado

In [156]:
from pathlib import Path  
filepath = Path('../data/processed/Student_performance_data.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath, index=False)