### 1. Carga de datos ###

In [127]:
import pandas as pd
from pathlib import Path
df = pd.read_csv('../data/raw/Student_performance_data.csv')

### 2. Limpieza de datos ###

Como se mencionó el el notebook de análisis exploratorio, la calidad de este dataset es buena ya que no posee datos nulos ni duplicados

### 3. Generación y modificación de datos

Comenzamos modificando el tipo de dato de las variables categoricas y cambiando sus valores por unos más descriptivos con la finalidad de que el análisis y los gráficos sean mas faciles de entender

Genero

In [128]:
df = df.astype({"Gender": str})
df.loc[df["Gender"] == "0", "Gender"] = "Male"
df.loc[df["Gender"] == "1", "Gender"] = "Female"

Ethnicity

In [129]:
df = df.astype({"Ethnicity": str})
df.loc[df["Ethnicity"] == "0", "Ethnicity"] = "Caucasian"
df.loc[df["Ethnicity"] == "1", "Ethnicity"] = "African American"
df.loc[df["Ethnicity"] == "2", "Ethnicity"] = "Asian"
df.loc[df["Ethnicity"] == "3", "Ethnicity"] = "Other"

ParentalEducation

In [130]:
df = df.astype({"ParentalEducation": str})
df.loc[df["ParentalEducation"] == "0", "ParentalEducation"] = "None"
df.loc[df["ParentalEducation"] == "1", "ParentalEducation"] = "High School"
df.loc[df["ParentalEducation"] == "2", "ParentalEducation"] = "Some College"
df.loc[df["ParentalEducation"] == "3", "ParentalEducation"] = "Bachelor's"
df.loc[df["ParentalEducation"] == "4", "ParentalEducation"] = "Higher"

Tutoring

In [131]:
df = df.astype({"Tutoring": str})
df.loc[df["Tutoring"] == "0", "Tutoring"] = "No"
df.loc[df["Tutoring"] == "1", "Tutoring"] = "Yes"

ParentalSupport

In [132]:
df = df.astype({"ParentalSupport": str})
df.loc[df["ParentalSupport"] == "0", "ParentalSupport"] = "None"
df.loc[df["ParentalSupport"] == "1", "ParentalSupport"] = "Low"
df.loc[df["ParentalSupport"] == "2", "ParentalSupport"] = "Moderate"
df.loc[df["ParentalSupport"] == "3", "ParentalSupport"] = "High"
df.loc[df["ParentalSupport"] == "4", "ParentalSupport"] = "Very High"

Extracurricular

In [133]:
df = df.astype({"Extracurricular": str})
df.loc[df["Extracurricular"] == "0", "Extracurricular"] = "No"
df.loc[df["Extracurricular"] == "1", "Extracurricular"] = "Yes"

Sports

In [134]:
df = df.astype({"Sports": str})
df.loc[df["Sports"] == "0", "Sports"] = "No"
df.loc[df["Sports"] == "1", "Sports"] = "Yes"

Music

In [135]:
df = df.astype({"Music": str})
df.loc[df["Music"] == "0", "Music"] = "No"
df.loc[df["Music"] == "1", "Music"] = "Yes"

Volunteering

In [136]:
df = df.astype({"Volunteering": str})
df.loc[df["Volunteering"] == "0", "Volunteering"] = "No"
df.loc[df["Volunteering"] == "1", "Volunteering"] = "Yes"

GradeClass

In [137]:
df = df.astype({"GradeClass": str})
df.loc[df["GradeClass"] == "0.0", "GradeClass"] = "A"
df.loc[df["GradeClass"] == "1.0", "GradeClass"] = "B"
df.loc[df["GradeClass"] == "2.0", "GradeClass"] = "C"
df.loc[df["GradeClass"] == "3.0", "GradeClass"] = "D"
df.loc[df["GradeClass"] == "4.0", "GradeClass"] = "F"

### 4. Revisión del dataset resultante

Revisamos que los tipos de datos han cambiado

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   object
 3   Ethnicity          2392 non-null   object
 4   ParentalEducation  2392 non-null   object
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   object
 8   ParentalSupport    2392 non-null   object
 9   Extracurricular    2392 non-null   object
 10  Sports             2392 non-null   object
 11  Music              2392 non-null   object
 12  Volunteering       2392 non-null   object
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   object
dtypes: float64(2), int64(3), object(10)
memory usage: 280.4+ KB

Revisamos la información estadistica, como se puede apreciar ahora no se muestra datos estadisticos de campos como la etnica que corresponde a una variable categorica y estaba siendo tratada como número

In [139]:
df.describe()

         StudentID          Age  StudyTimeWeekly     Absences          GPA
count  2392.000000  2392.000000      2392.000000  2392.000000  2392.000000
mean   2196.500000    16.468645         9.771992    14.541388     1.906186
std     690.655244     1.123798         5.652774     8.467417     0.915156
min    1001.000000    15.000000         0.001057     0.000000     0.000000
25%    1598.750000    15.000000         5.043079     7.000000     1.174803
50%    2196.500000    16.000000         9.705363    15.000000     1.893393
75%    2794.250000    17.000000        14.408410    22.000000     2.622216
max    3392.000000    18.000000        19.978094    29.000000     4.000000

### 5. Se guarda el dataset modificado

In [140]:
from pathlib import Path  
filepath = Path('../data/processed/Student_performance_data.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)